.DS_Store
output/.DS_Store
.DS_Store
.DS_Store
*.o
*.iso
*.bin
*.tar
output/drivers.o
output/fs.o
output/isodir/boot/grub/grub.cfg
output/isodir/boot/initrd.tar
output/isodir/boot/kernel.bin
output/isodir/boot/MPLUS2-Regular.ttf
*.bin
output/isodir/boot/initrd.tar
output/isodir/boot/kernel.bin
output/kernel.bin
output/kernel.o
output/isodir/boot/initrd.tar
output/isodir/boot/kernel.bin
output/kernel.bin
output/kernel.o
