set timeout=0
set default=0
set quiet=1
set gfxmode=1280x720x32,auto
set gfxpayload=keep
terminal_output gfxterm
menuentry "baram-os" {
    multiboot /boot/kernel.bin
    module /boot/MPLUS2-Regular.ttf
    module /boot/main.warpc
    module /boot/new.warp
    module /boot/terminal.warp
    module /boot/menubar.warp
    module /boot/setting.warp
    module /boot/test.warp
    module /boot/bootlogo.svg
    module /boot/wallpaper_2.svg
    module /boot/os_settings.json
    boot
}
